header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin: 0px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

header nav ul li {
  text-decoration: underline;
}

body {
  font-family: Arial;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

ul#todoList {
  list-style-type: none;
  padding: 0;
  margin: 50px;
}

ul#todoList li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

ul#todoList li:hover {
  background-color: #f0f0f0;
}

.todo-checkbox {
  margin-right: 15px;
  transform: scale(1.2);
}

ul#todoList li span {
  flex-grow: 1;
}

ul#todoList li:hover {
  background-color: #f0f0f0;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 14px;
}

button:hover {
  background-color: #444;
}

#taskAdder {
  margin: 50px;
}
